<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="http://unpkg.com/iview/dist/styles/iview.css" />
    <!-- import iView -->
    <script src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <style>
      .center {
        display: flex;
        justify-content: center;
      }
      .hot-list {
        width: 600px;
        margin: auto;
      }
      .hot-list-item {
        padding: 10px;
        list-style: none;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <i-Menu mode="horizontal" active-name="v2ex" @on-select="select" class="center">
        <Menu-Item v-for="(item,i) in allType" :key="item" :name="item">
          <p>
            {{ item }}
            <Badge :count="hotList[item].list.length"  type="info"> </Badge>
          </p>
        </Menu-Item>
      </i-Menu>
      <ul class="hot-list">
        <li v-for="(item, index) in recentList" :key="index" class="hot-list-item">
          <a :href="(item.url.includes('http')?'':'http://')+ item.url" target="_blank">
            {{ index + 1 + "  " + item.name }}
          </a>
        </li>
      </ul>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      devtools: true,
      data: {
        type: "v2ex",
        list: [],
        total: 0,
        allType: [],
        hotList: {}
      },
      computed: {
        recentList() {
          return this.hotList[this.type] ? this.hotList[this.type].list : []
        }
      },
      created() {
        fetch(`http://localhost:4444?t=${+new Date()}`, {
          mode: "cors"
        })
          .then(res => res.json())
          .then(data => {
            this.list = data.data
            this.total = data.total
            this.list.forEach(v => {
              if (this.hotList[v.type]) {
                this.hotList[v.type].list.push(v)
                this.hotList[v.type].total++
              } else {
                this.allType.push(v.type)
                this.$set(this.hotList, v.type, {
                  list: [v],
                  total: 1
                })
              }
            })
          })
      },
      methods: {
        select(v) {
          this.type = v
        }
      }
    })
  </script>
</html>
